# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Build & Output
/dist
/bin
/build
*.out

# Dependency Caches
vendor/

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Go stuff
go.sum

# Env / Secrets
.env
